* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #efb4c3, #b283c7);
  font-family: 'Source Serif Pro', serif;
}

section {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 1.5rem;
  width: 80%;
  margin: 2rem auto 0;
  height: 38rem;
  border-radius: 5px;
}

/* header area */
header {
  /* background-color: antiquewhite; */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

header h1 {
  text-align: center;
  font-size: 1.3rem;
}

/* form area */

form {
  margin-bottom: 1.5rem;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: space-around; */
}
.input-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
form input {
  display: inline-block;
  width: 80%;
  height: 2.7rem;
  border: none;
  font-size: 0.8rem;
  outline: none;
  padding: 1rem;
}
.edit-input {
  display: inline-block;
  height: 2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-top: -9px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
form button {
  border: none;
  width: 16%;
  height: 2.7rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  color: #b283c7;
  /* display: inline-flex;
  justify-content: center; */
  padding-top: 3px;
  /* align-items: center; */
}
form button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px hsla(220, 90%, 56%, 0.2);
}
form button:active {
  transform: translateY(2px);
}

/* to do list area */
.todo-list-container {
  /* border: solid black 1px; */
  overflow: auto;
  height: 27rem;
}

.todo-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  background-color: rgb(178, 131, 199);
  height: 3rem;
  padding: 0 0.5rem 0;
  color: aliceblue;
  border-radius: 5px;
  font-size: 1rem;
}

.item div {
  padding-top: 1rem;
}

i {
  margin: 0 5px;
  cursor: pointer;
  color: #440f5c;
}

.none {
  display: none;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  section {
    width: 70%;
    height: 35rem;
  }

  .todo-list li {
    font-size: 0.5rem;
  }

  .todo-list li {
    font-size: 0.8rem;
    width: 95%;
  }

  i {
    font-size: 1rem;
  }
  .check {
    font-size: 1.2rem;
  }
  .todo-list-container {
    height: 21rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  section {
    width: 40%;
    height: 33rem;
  }

  .todo-list li {
    font-size: 0.9rem;
    width: 95%;
  }

  i {
    font-size: 1rem;
  }
  .check {
    font-size: 1.2rem;
  }
  .todo-list-container {
    height: 21rem;
  }
}

/* li {
  height: 50px;
  background-color: beige;
  margin: 10px;
  list-style: none;
  font-size: 30px;
  margin: 30px;
} */

/* .item {
  display: grid;
}

.text,
.icon {
  grid-column: 1;
  grid-row: 1;
}

.icon {
  visibility: hidden;
  z-index: 2;
}

.icon:hover {
  visibility: visible;
  background-color: aqua;
}

.text {
  z-index: 1;
}

.text:hover {
  display: block;
} */
