* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #efb4c3, #b283c7);
  font-family: 'Source Serif Pro', serif;
}

/* ----- Section style ----- */
section {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 1.5rem 0.5rem;
  width: 90%;
  margin: 2rem auto 0;
  height: 36rem;
  border-radius: 5px;
}
/* --------------------------- */

/* ------------ Header Style -------------- */
header {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

header h1 {
  text-align: center;
  font-size: 1.3rem;
}
/* ----------------------------------------- */

/* ------------- Form style ------------ */

form {
  margin-bottom: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.input-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.input-div input {
  display: inline-block;
  width: 80%;
  height: 2.7rem;
  border: none;
  font-size: 0.8rem;
  outline: none;
  padding: 1rem;
}

.input-div button {
  border: none;
  width: 16%;
  height: 2.7rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  color: #b283c7;
  padding-top: 3px;
}
.input-div button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px hsla(313, 61%, 35%, 0.2);
}
.input-div button:active {
  transform: translateY(2px);
}
/* ----------------------------------------------- */

/* ------------ To-do list style -------------- */
.todo-list-container {
  overflow: auto;
  height: 24rem;
}

.todo-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  background-color: rgb(178, 131, 199);
  height: 3rem;
  padding: 0 0.5rem 0;
  color: aliceblue;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

/* .item div {
  padding-top: 1rem;
} */

li .text {
  width: 80%;
}
li .text p {
  height: 100%;
  padding-top: 1rem;
}
li .icon {
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  padding-top: 1rem;
  color: #440f5c;
}
i {
  margin: 0 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.todo-list .completed {
  background-color: #adaaab;
  color: black;
}

.completed-task {
  text-decoration: line-through;
  color: black;
  /* text-decoration-color: #f1ecf3; */
}
/* ------------------------------------------ */

/* --- This class is for the new added input 'for the edit' --- */
.edit-input {
  display: inline-block;
  height: 2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-top: -9px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin-top: 0.5rem;
}

/* ------------------------- */

/* ---------- Media Queries -------- */
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  section {
    width: 70%;
    height: 35rem;
  }

  .todo-list li {
    font-size: 0.9rem;
    width: 97%;
  }

  i {
    font-size: 1rem;
  }
  .check {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  section {
    width: 40%;
    height: 33rem;
  }

  .todo-list li {
    font-size: 0.8rem;
    width: 97%;
  }

  i {
    font-size: 1rem;
  }
  .check {
    font-size: 1.2rem;
  }
  .todo-list-container {
    height: 21rem;
  }
}
/* ----------------------------------- */
